<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.palharini.myhealth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyHealth" >
        <activity
            android:name=".TelaLogin"
            android:label="@string/title_activity_tela_login" >
        </activity>
        <activity 
            android:name=".TelaCadastroUsuario" 
            android:label="@string/title_activity_tela_cadastro_usuario" >
        </activity>
        <activity
            android:name=".TelaCadastroIndicador"
            android:label="@string/title_activity_tela_cadastro_indicador" >
        </activity>
        <activity
            android:name=".TelaEdicaoUsuario"
            android:label="@string/title_activity_tela_edicao_usuario" >
        </activity>
        <activity
            android:name=".TelaEdicaoIndicador"
            android:label="@string/title_activity_tela_edicao_indicador" >
        </activity>
        <activity
            android:name=".TelaPrincipal"
            android:label="@string/title_activity_tela_principal" >
        </activity>
        <activity
            android:name=".TelaEdicaoPreferencias"
            android:label="@string/title_activity_tela_configuracoes" >
        </activity>
        <activity
            android:name=".TelaInicial"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaIndicadores" >
        </activity>
        <activity
            android:name=".TelaCadastroPreferencias"
            android:label="@string/title_activity_tela_cadastro_preferencias" >
        </activity>
        <activity
            android:name=".ListaIndicadores"
            android:label="@string/title_activity_lista_indicadores" >
        </activity>
        <activity
            android:name=".TelaTipos"
            android:label="@string/title_activity_tela_tipos" >
        </activity>
        <activity
            android:name=".TelaGrafico"
            android:label="@string/title_activity_tela_grafico" >
        </activity>
        <receiver 
            android:name=".PublicacaoNotificacao">
        </receiver>
    </application>

</manifest>