<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.palharini.myhealth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyHealth" >
       	<activity
            android:name=".activities.Splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.Login"
            android:label="@string/title_activity_login" >
        </activity>
        
        <activity
            android:name=".activities.Main"
            android:label="@string/title_activity_main" >
        </activity>
        
        <activity
            android:name=".activities.register.UserRegister" 
            android:label="@string/title_activity_user_register" >
        </activity>
        
        <activity
            android:name=".activities.edit.UserEdit"
            android:label="@string/title_activity_user_edit" >
        </activity>
        
       	<activity 
           	android:name=".activities.register.IndicatorRegister"
            android:label="@string/title_activity_indicator_register" >
        </activity>
        
        <activity
  			android:name=".activities.edit.IndicatorEdit"
            android:label="@string/title_activity_indicator_edit">
        </activity>
        
        <activity
            android:name=".activities.register.PreferencesRegister"
            android:label="@string/title_activity_preferences_register" >
        </activity>
            
        <activity
            android:name=".activities.edit.PreferencesEdit"
            android:label="@string/title_activity_preferences_edit" >
        </activity>

        <activity
            android:name=".activities.IndicatorTypesList"
            android:label="@string/title_activity_indicator_typeslist" >
        </activity>
        
        <activity
            android:name=".fragments.tabs.adapters.TabsAdapter" >
        </activity>
        
        <receiver 
            android:name=".notifications.NotificationReceiver">
        </receiver>
        
    </application>

</manifest>